#chat-lists li {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#chat-lists img {
    height: 4rem;
    border-radius: 40%;
}

.content p:first-child {
    font-weight: 600;
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: .2rem;
}

.content p:nth-child(2) {
    color: rgb(153, 153, 153);
    font-size: 3.2vw;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat-lists time {
    font-weight: normal;
    font-size: .9rem;
    color: rgb(153, 153, 153);
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-right: .9rem;
    width: 67%;
}

.content time {
    text-align: right;
}
