main {
    height: 100vh;
}

body {
    background-color: rgb(174,192,206);
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
}

#chat-header h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 2rem;
}

#chat-header img {
    height: 1.6rem;
    margin-left: 1rem;
}

#chat-nav {
    display:inline-block
}

.each-chat img {
    height: 3rem;
    border-radius: 35%;
    overflow: hidden;
}

#chat-field img {
    height: 2rem;
}
form {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    height: 5.5rem;
}

input {
    width: 80%;
    height: 2.5rem;
    border-radius: .5rem;
    background-color: rgb(249, 249, 248);
}

.enter-emoji {
    display: inline-block;
}

