header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, #top-nav {
    display: inline-block;
    margin: 1rem;
} 

h1 {
    font-weight: normal;
}

#top-nav img {
    height: 1.5rem;
    margin: .5rem;
}