#mobile {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

time {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bolder;
}

#mobile {
    display: flex;
}

#mobile div img {
    height: 1.1rem;
    margin: .2rem;
}
